@media(max-width:576px) {
    .container-fluid{
        position: relative;
    }
    .top-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0%;
        z-index: 1000;
        background-color: #fff;
        width: auto;
        max-width: 320px;
    }
}